.clearfix-7da63 {
  clear: both;
}

.board-b72b1 {
  border: 10px solid #404040;
  box-sizing: content-box;
}

.square-55d63 {
  float: left;
  position: relative;


  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.white-1e1d7 {
  background-color: #f5e3c6;
  color: #b9987d;
}

.black-3c85d {
  background-color: #b9987d;
  color: #f5e3c6;
}

.notation-322f9 {
  cursor: default;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  position: absolute;
}

.alpha-d2270 {
  bottom: 2px;
  right: 3px;
}

.numeric-fc462 {
  top: 2px;
  left: 2px;
}
