body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Убираем прокрутку */
    height: 100vh;
    background-color: #f0f8ff;
    background-image: url('img/chess-bg.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

#interface {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}


h1 {
    font-size: 48px;
    color: #333;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Кнопки */
button {
    padding: 12px 25px;
    font-size: 20px;
    margin: 15px;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 5px 15px rgba(0, 123, 255, 0.3);
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05); /* Легкое увеличение при наведении */
}

#board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#board {
    width: 400px;
    margin-top: 20px;
}
